/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### Maven ###
# for Linux(bash)
mvnw
# for windows
mvnw.cmd
# for machines require maven on PATH
.mvn

### application.properties ###
application.properties

### Ali Cloud ###
nohup.out